@charset 'utf-8';
body {
    width: 100%;
}

a {
    text-decoration: none;
}

header, section {
    padding: 0 5%
}

.cov19 {
    width: 100%;
    background-color: black;
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: 50px;
}

.cov19 .aside_title .aside_title_content {
    color: white;
    text-decoration: underline;
    font-weight: 900;
}

.header{
    background-color:black;
    padding-top:20px;

}

.header .header_content{
    display: inline-block;
    width: 100%;
    clear: both;
    position:sticky;
    top:0
}

.header .header_content .header_content_logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
    float: left;
}

.header .header_content .header_content_logo 
.header_content_logo_img{
    width: 25px;
}

.header .header_content .header_content_second {
    float: right;
}

.header .header_content .header_content_second .host{
    margin-right: 20px;
    color:white;
    text-decoration: none;
    font-size: 20px;
    
}

.header .header_content .header_content_second 
a .header_content_earth {
    margin-right: 20px;
    width: 20px;
    border-radius: 50px;
}

.header .header_content .header_content_second
.menu {
    width: 50px;
    padding:5px 5px;
    display:inline-block;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
}

.header .header_content .header_content_second
.menu .tree_line {
    width: 20px;
    border-radius: 50px;
}

.header .header_content .header_content_second 
a .header_content_profile {
    width: 20px;
    border-radius: 50px;
}

/* nav 작업 끝  */


.header .header_content_bar {
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;
    color: white;

}


.header .header_content_bar .header_content_js
.center_bar .menuall {
    margin:0 0 5px 15px;
    display: inline-block;
    height: 30px;
}

.header .header_content_bar .header_content_js
.center_bar .center_menu1 {
    border-bottom: 1px solid white;
}

/* 두번째 작업 시작 */


.header_content_data {
    text-align: center;
    width: 100%;
    /* position: sticky;
    top: 0; */
    background-color: black;
}

/* z-index 로 header_content_data::before 를 만들고,
그 안에 똑같은 콘텐츠를 만드는데 z-index:-1로 뒤로 보내고,
position : sticky 로 값을 주면 어떻게 될까? */ 


.header_content_data .data_border {
    margin: 0 auto;
    width: 57%;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color:white;
    text-align:left;
}


.header_content_data span {
    display: inline-block;
    color: black;
}


.header_content_data .data_one {
    font-size: 12px;
    padding-right: 60px;
    border-right: lightgray 1px solid;
}

.header_content_data .lab_box {
    display: block;
    padding-left: 4px;
}

.header_content_data span .location {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0 3px;
}

.header_content_data .data_border span input {
    border: white 1px solid;
}

.header_content_data .data_border .checked{
    border-right: lightgray 1px solid;
    padding: 0 10px ;
    font-size: 12px;
}

.header_content_data .data_border .last_menu {
    padding-left: 10px ;
    font-size: 12px;
}

.header_content_data .data_border .last_menu>.location{
    display: block;
}

.header_content_data .data_border .last_menu input{
    display: inline;
}

.header_content_data .data_border .last_menu .search_img {
    width: 20px;
}

.header_content_data .data_border .last_menu .search {
    display:inline-block;
    color: white;
    text-decoration: none;
    background-color:#ff385c;
    padding: 10px 10px;
    border-radius: 50px;
}

.header_content_data .data_border .last_menu .search span {
    font-size: 20px;
}

/* header 작업 완료, 상단 메뉴바 작업 시작. */

.top_menu {
    /* position: sticky; 
    top:0;  */
    /* padding: 20px 5%;
    text-align: center;
    transform: translateY(-10%); */
    /* display: flex;
    justify-content: space-between; */
    /* background-color: #fff;
    opacity: 1;
    visibility: visible; */
}

.top_menu img {
    width: 30px;
}


.top_main_link {
    color: #FF385C;
}

.top_btn_box {
    display: inline-block;
    width: 300px;
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    background-color:rgb(255, 255, 255, 0.9);
    box-shadow: 1px 1px gray;
}

.top_btn_box:hover {
    background-color:rgba(255, 255, 255,0.1);
    box-shadow: 1px 3px gray;

}

.top_search {
    border: none;
    font-size: 12px;
    margin: 10px;
    float: left;
    cursor: pointer;
}

.top_btn_box .top_search_img {
    width: 20px;
    padding:3px;
    margin: 5px 0 0 70px;
    background-color: #FF385C;
    border-radius: 30px;
    float: right;
}

.top_right {
    display: inline-block;
    /* vertical-align: top; */
}

.layout {
    padding-left:10px
}

.top_right .top_host {
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding-right: 10px;
}

.test {
    width: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.top_right .top_earth {
    width: 100%;
}

/* 메뉴바 작업 종료 , 첫번째 섹션 시작 */

.fir_section {
    background-color: black;
    width: 100%;
    text-align: center;
    background-image: url(./img/Tent_2.jpg);   
    background-size: cover;
    border-radius: 50px;

}

.fir_content{
    width: 100%;
    height: 700px;
}

.fir_content .sentence{
    padding-top: 27%;
    color: white;
    font-size: 50px;
}

.fir_content_search{
    margin-top: 20px;
    padding: 20px 35px;
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    color: #FF385C ;
    font-weight: bold;
}

/* 첫번째 섹션 종료 두번째 시작 */

.sec_sect {
    padding: 100px 0;
    width: 90%;
    text-align: center;
    padding-left: 5%;
}

.sec_sect .sec_title {
    font-size: 50px;
    padding:0px 0 50px 0;
    text-align: left;
    font-weight: bold;
}

.sec_sect .sec_sect_content {
    width: 100%;
    text-align: left;
}

.sec_sect .sec_sect_content .sec_link {
    display: inline-block;
    width: 320px;
    height: 400px;
    margin-right: 15px;
    text-decoration: none;

    /* background-color:brown; */
}

.sec_sect .sec_sect_content .sec_link .sec_sect_text {
    width: 310px;
    height: 200px;
    padding:20px 0 0 10px;
    border-radius: 0 0 10% 10%;
    background-color:lightcoral;
    margin-top: -2px;
    /* 사이 간격이 있음. */
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.sec_sect .sec_sect_content .sec_link .sec_sect_text h4 {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 200;
}

.sec_sect_content .sec_sect_img {
    width: 320px;
    height: 200px;
    display: inline-block;
    border-radius: 10% 10% 0 0;
}

/* 두번째 섹션 작업끝 세번째 시작 */

.thir_sect {
    width: 90%;
}

.thir_title {
    font-size: 50px;
    padding:30px 0 30px 0%;
    text-align: left;
    font-weight: bold;
}

.thir_fir_span {
    display: inline-block;
    width: 43vw;
    height: 650px;
    margin-right: 30px;
    border-radius: 10px;
    background-color:blueviolet;
    background-image: url(./img/experier.jpg);
    background-size: cover;
}

.thir_sec_span {
    display: inline-block;
    width: 43vw;
    height: 650px;
    border-radius: 10px;
    background-color:aqua;
    background-image: url(./img/rest.jpg);
    background-size: cover;
}

.thir_third_div {
    width: 100%;
    height: 700px;
    margin: 70px auto;
    background-image: url(./img/host.png);
    background-size: cover;
    border-radius: 10px;
}

.thir_title_text {
    font-size: 50px;
    color: white;
    padding: 50px 0 50px 30px;
}

section .thir_third_div .thir_title_text {
    padding-left: 60px;
    font-size: 60px;
    font-weight: bold;
    line-height: 70px;
}

.thir_btn {
    margin-left: 40px;
    border-radius: 10px;
    border: none;
    padding:10px 15px;
    background-color:white;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
}

.thir_btn:hover {
    background-color: lightgray;
}

.last_btn {
    margin:250px 0 0 70px;
    cursor: pointer;
}

/* 세번째 섹션 끝 footer 작업 시작.*/

footer {
    background-color:lightgray;
    width: 90%;
    padding: 0 5%;
}

.fir_nav {
    width: 100%;
    padding:50px 0 50px 0 ;
    border-bottom: 1px solid black;
    color: black;
    font-size:15px;

}

.nav_content {
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
}

.nav_content h5 {
    font-weight: bold;
    padding-bottom: 10px;
}

.nav_content ul li {
    padding-bottom: 10px;
}

.nav_content ul li a {
    color: black;
    font-size: 12px;
}
/* footer 첫번째 nav 작업 종료  */

.sec_nav {
    display: flex; 
    justify-content: space-between;
}

.sec_nav .nav_last_fir {
    font-size: 15px;
    height: 70px;
    line-height: 70px;
}

.fake::before {
    content: '.';
    font-size:15px;
    font-weight: bold;
    position:relative;
    top:-4px;
    margin-right:5px;
}

.nav_last_sec {
    height: 70px;
    line-height: 70px;
}

.sec_nav a {
    color: black;
    font-weight: 200;
}

.nav_last_sec a img {
    width: 15px;
}

/* 마지막 아이콘 좌우로 배치하기.
    1. 부모테그에 display:flex 와 justify-content:space-between 으로
    자식태그가 좌우로 갈 수있게 해주었다. 
    2. 줄이 맞지 않아서 부모태그에 높이를 주고, 자식태그도 부모태그의
    높이와 같이 맞춰준 후 line-height로 같은 높이를 지정해주어서 높이를 맞췄다.*/



